<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m12">
                <div>
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active"><i class="material-icons">event_note</i>Catégorie</div>
                            <div class="collapsible-body filter-container">
                                <ul class="collection with-header">
                                    <li>
                                        <form (ngSubmit)="addProduct(localState.value)" autocomplete="off">
                                            <input
                                                    [value]="localState.value"
                                                    (input)="localState.value = $event.target.value"
                                                    placeholder="Add Produit"
                                                    autofocus />
                                            <button>Submit Value</button>
                                        </form>
                                    </li>
                                    <li class="collection-header"><h6><b>???</b></h6></li>
                                    <li *ngFor="let product of store.state.products" class="collection-item">
                                        <div>{{ product.name }}</div>
                                    </li>
                                </ul>
                                <p>
                                    <a class="waves-effect waves-light btn modal-trigger" href="#add_product"><b>Entrer un produit</b><i class="material-icons tiny">add</i></a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="section">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <!--{!_.isUndefined(results.res) && results.res.length > 0 ? (-->
                            <!--<div id="card-container" class="row">-->
                                <!--{results.res.map((result) =>-->
                                    <!--<div class="col s12 m6 l4">-->
                                        <!--<SearchResult item={result} products={results.products}/>-->
                                    <!--</div>-->
                                <!--)}-->
                            <!--</div>-->
                            <!--) : _.isUndefined(results.res) ? '' : <div>No results found.</div>}-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>